body{
    background-color: #f8eff4;
}

fieldset{
    background-color:#CEA4B2;
    
}
legend{
    background-color:#cfab8a;
    font-size: 20px;
    
   
}

input{
    margin: 20px;
    height:25px;
    width:210px;
}




.row1{
    margin-top: 15px;
    padding: 10px;
   
    /* width: "600px"; */
    width: 48%;
    height:30px;
    /* margin-left:30px ; */
    /* height: 200px; */
    /* height:30px; */
}
.row{
    /* margin-top: "10px"; */
    width: 100%;
    /* width:20px; */
    height: 100px;
   
}

.btnadd{
    margin-top: 30px;
    /* padding: 10px;
    position: relative;
    width: 200px; */
    /* left: 40%; */
}
.enroll_form_container{
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
    /* border: 1px solid black; */
}
.enroll_form_container-below{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* border: 1px solid black; */
    width: 60%;
}